<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section
      name="Sayfalar"
      type="System.Configuration.NameValueFileSectionHandler,System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <!--Value alanı Sayfa sırası-->
  <!--Key alanı name arama kriteri-->
  <Sayfalar>
    <add value="1" key="Diğer" />
    <add value="2" key="Köpek" />
    <add value="2" key="Köpek Mama" />
    <add value="2" key="Köpek Mamasi" />
    <add value="2" key="MamaCoin" />
    <add value="3" key="Kedi" />
    <add value="3" key="Kedi Mama" />
    <add value="3" key="Kedi Mamasi" />
    <add value="3" key="Micho" />
    <add value="3" key="Mito" />
    <add value="3" key="BonaCibo Adult Cat" />
    <add value="3" key="Kum" />
    <add value="4" key="Battaniye" />
    <add value="4" key="Çiş Pedi" />
    <add value="4" key="Kafes" />
  </Sayfalar>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>